<h1>Listing sizings</h1>

<table>
  <tr>
    <th>Brand</th>
    <th>Sizing</th>
    <th>Bust</th>
    <th>Waist</th>
    <th>Hips</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sizings.each do |sizing| %>
  <tr>
    <td><%= sizing.brand %></td>
    <td><%= sizing.sizing %></td>
    <td><%= sizing.bust %></td>
    <td><%= sizing.waist %></td>
    <td><%= sizing.hips %></td>
    <td><%= link_to 'Show', sizing %></td>
    <td><%= link_to 'Edit', edit_sizing_path(sizing) %></td>
    <td><%= link_to 'Destroy', sizing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sizing', new_sizing_path %>
