<p id="notice"><%= notice %></p>

<p>
  <b>Brand:</b>
  <%= @sizing.brand %>
</p>

<p>
  <b>Size:</b>
  <%= @sizing.size %>
</p>

<p>
  <b>Bust:</b>
  <%= @sizing.bust %>
</p>

<p>
  <b>Wasit:</b>
  <%= @sizing.wasit %>
</p>

<p>
  <b>Hips:</b>
  <%= @sizing.hips %>
</p>


<%= link_to 'Edit', edit_sizing_path(@sizing) %> |
<%= link_to 'Back', sizings_path %>
